<div class="center hero-unit">
	
  <h2 class="span4" >Sorry, we could not locate the page you are trying to view.</h2>

  <h2 class="muted">404 Error</h2>

  <a href="/" class="btn btn-large btn-primary">Go Home</a>
</div>