<div class="center hero-unit">
  <h1><%= t('home.title', app_name: t('global.app_name')) %></h1>

  <h2 class="muted"><%= t 'home.text' %></h2>

  <%= link_to t('signup.link'), signup_path, class: "btn btn-large btn-primary" %>
</div>
