<div class="center hero-unit">
  
  <h1><%= t('home.title', app_name: t('global.app_name')) %></h1>

  <h2 class="muted"><%= t 'home.text' %></h2>

  <div id="mailchimp" style="margin-top:30px;">
  	<%= render 'signup' %>
  <div>


</div>
