<h1>TeacherMaps Video Tutorials</h1>

<div class="row">
  <ul class="nav nav-list well span8">
    <li class="nav-header">Storage</li>
    <li><a href="#video_storage">I've added google drive/dropbox... now what?</a></li>

    
  </ul>
</div>

<h3>Storage</h3>
<h4 id="video_storage">I've added google drive/dropbox... now what?</h4>
<div class="video-container">
  <object type="application/x-shockwave-flash" 
          style="width:500px; height:300px;" 
          data="https://www.youtube.com/v/3FgCu6kLK3g">
          <param name="movie" value="https://www.youtube.com/v/3FgCu6kLK3g" /></object>
</div>
