<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html"; charset="UTF-8" http-equiv="Content=Type" />
  </head>
  <body>
    <p><%= t 'change_email.content_textonly' %></p>
    <%= link_to(url_for(controller: 'users', action: 'confirm_email', params: { account: @user.account_name, key: @user.request_key }, only_path: false, host: @host), controller: 'users', action: 'confirm_email', params: { account: @user.account_name, key: @user.request_key }, only_path: false, host: @host ) %>
  </body>
</html>

