<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html"; charset="UTF-8" http-equiv="Content=Type" />
  </head>
  <body>
    <h1><%= t('welcome_email.title', name: @user.name) %></h1>
    <p><%= raw t( 'welcome_email.content', activation_link: link_to(t('welcome_email.activation_link'), controller: 'users', action: 'confirm_email', params: { account: @user.account_name, key: @user.email_confirmation_key }, only_path: false, host: @host) )%></p>
  </body>
</html>
