<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html"; charset="UTF-8" http-equiv="Content=Type" />
  </head>
  <body>
    <h1><%= t('welcome_email.title', name: @user.name) %></h1>
    <p><b>
      <%= raw t( 'welcome_email.content', activation_link: link_to(t('welcome_email.activation_link'), controller: 'users', action: 'confirm_email', params: { key: @user.request_key }, only_path: false, host: @host) )%>
    </b></p>
    <p>
      Thanks for trying TeacherMaps! If you need help getting started, try our
      <%= link_to "help documentation", controller: 'static_pages',
        action: 'help', only_path: false, host: @host %>.
    </p>
    <p></p>
    <p>
      We'd love to hear
      your feedback. Try the feedback tool at the top of every page or mail
      us at
      <a href="mailto:support@teachermaps.com">support@teachermaps.com</a>.
    </p>
  </body>
</html>
