<!-- Begin MailChimp Signup Form -->
<style type="text/css">
  
  #mc-email {
  	width: 300px;
  }
</style>
<div id="mc_embed_signup">
	<form id="mc-subscribe-form" name="mc-embedded-subscribe-form">
	  <label for="mc-email">Want an invite? Subscribe to our mailing list.</label>
	  <input type="email" value="" name="email" class="email" id="mc-email" placeholder="Email Address" required>
	  <div class="clear">
	  	<button id="mc-subscribe-button" class="btn btn-primary"> Subscribe </button>
	  </div>
	</form>
</div>
<!--End mc_embed_signup-->