<div><H3>Resource Filter</H3></div>
<div class="row">
  <div class="span9" id="map_resource_filter">
  <%= render 'maps/filter_resource' %>
  </div>
</div>
<div class="row">
  <div class="span9" id="map_resource_table">
    <%= render 'maps/table_resources' %>
  </div>
</div>