<% if !@map.map_standards.empty? %>
  <% @map.sorted_map_standards.each do |map_standard| %>
    <div class="hover clickable">
	    
    	<b><%= map_standard.standard.name %>: </b>
    	<p><%= map_standard.standard.text %></p>

	      <ul class="inline">
	        <li>
	          <label>Objectives: <%= map_standard.map_objectives.count %></label>
	        </li>
	        <li>
	          <label>Resources: <%= map_standard.map_objectives.map(&:map_resources).count %></label>
	        </li>
	      </ul>
	    
    </div>
  <% end %>
<% end %>
