<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" style="margin-right:10px;">&times;</button>
  <h3>Resource Filter</h3>
</div>
<div class="modal-body center">
	<div class="row">
	  <div class="span9" id="map_resource_filter">
	  <%= render 'map_assessments/filter_resources' %>
	  </div>
	</div>
	<div class="row">
	  <div class="span9" id="map_assessment_resource_table">
	    <%= render 'map_assessments/table_resources' %>
	  </div>
	</div>
</div>



