<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal">&times;</button>
  <h3><%= t('shared.my_resources') %></h3>
</div>
<div class="modal-body center">
	  <div id="map_resource_filter">
	  	<%= render 'maps/filter_map_assessment_resources' %>
	  </div>
	  <div id="map_assessment_resource_table" style="margin: 0px 20px 0px 20px;">
	    <%= render 'maps/table_map_assessment_resources' %>
	  </div>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-primary" data-dismiss="modal">Save</button>
</div>