<div class="row">
  <div class="span7" style="">
    <div>
      <div>
        <!-- Breadcrumb -->
        <%= link_to "#{@map.name.titlecase}", "#" %> /
      </div>
      <div>
        <h2><%= @map.name.titlecase %></h2>
      </div>
      <!-- Map Content -->
      </div>
        <p><%= @map.text %></p>
      <div>
      <div>
        <div>
          <h3>Standards</h3>
        </div>
        <div>
          <!-- Map Standards -->
        </div>
      </div>
      <div>
        <div>
          <h3>Assessments</h3>
        </div>
        <div>
          <!-- Map Assessments -->
        </div>
      </div>
    </div>
  </div>

  <div class="span5">
    <div id="filter_standards_panel">
      <div><H3>Standards Filter</H3></div>
      <div>
        <!-- Standard Filters -->
      </div>
      <div>
        <!-- Standards Table -->
      </div>
    </div>
  </div>
</div>