<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>

    <p><%= @sender.name %> sent you a map!!</p>

    <h2><%= link_to @map.name.titlecase, map_path(@map.slug, ) %></h2>
    app.link_to 'welcom', app.root_path, :only_path => false
    <p><%=  link_to url_for( @map, ), url_for( @map)    %></p>


    <% if @share_email.comment.length > 0 %>
    	<p><%= @share_email.comment %></p>
    <% end %>

    <p>Sent from <% root_path %></p>
    <p>Have a great day!</p>

  </body>
</html>
