<div class="row">
  <aside class="span12">
    <section>
      <h1><%= @user.name %></h1>
      <p><%= @user.account_name %>
      <br />
      <%= @user.email %></p>

      <br/><br/>
      <ul class="nav nav-tabs">
      	<!-- <li><a href="#maps" data-toggle="tab">Maps</a></li> -->
      	<li class="active"><a href="#resources" data-toggle="tab">Resources</a></li>
      <ul>
    </section>
  </aside>
</div>


<div class="tab-content">
  <!-- <div class="tab-pane" id="maps"></div> -->
  <div class="tab-pane active" id="resources">

  	<%= render 'resources/resources_table' %>
  	<div id="viewResourceLinkModal" class="modal hide fade in" tabindex="-1" role="dialog" aria-labelledby="viewResourceLinkModalLabel" >
  	  <button type="button" class="close" data-dismiss='modal' style="margin-right:10px;" >&times;</button>
  	  <div class="modal-body" id="viewResourceLinkModalBody"></div>
  	  <div class="modal-header"></div>
  	</div>
  </div>
</div>
  