<div class="row">
  <aside class="span8">
    <section>
      <p><strong><%= @user.name %></strong></p>
    </section>
  </aside>

  <% if @is_admin %>
  <div class="pull-right" id="maps-controls">
    <%= link_to t('maps.create_map'), "JavaScript:void(0);", 'action-url'=> maps_path, :class => 'btn', id: "users_create_map"%>
  </div>
  <div class="vspace20"></div>
  <% end %>

</div>


<div class="tab-content">
  <div class="tab-pane active" id="maps">
    <div id="users_maps_table" style="margin-left:-30px;">
      <%= render 'users/table_maps' %>
    </div>
  </div>
</div>


<% if @progress[:next_task] %>
  <%= render 'shared/popovers' %>
<% end %>
