<% if @user.errors.any? %>
  <div id="error_explanation" class="alert alert-error">
    <h4>
      <%= t('shared.errors', count: pluralize(@user.errors.count, t('shared.error_noun'))) %>
    </h4>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>