<% if object.errors.any? %>
  <div class="alert alert-error">
    <%= t('shared.errors', count: pluralize(object.errors.count, t('shared.error_noun'))) %>
  </div>
  <ul class="unstyled">
  <% object.errors.full_messages.each do |msg| %>
    <li class="text-error"><%= msg %></li>
  <% end %>
  </ul>
<% end %>
