<%= form_for(@drop_box_account) do |f| %>
  <% if @drop_box_account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@drop_box_account.errors.count, "error") %> prohibited this drop_box_account from being saved:</h2>

      <ul>
      <% @drop_box_account.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
