<h1>Listing drop_box_accounts</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @drop_box_accounts.each do |drop_box_account| %>
  <tr>
    <td><%= link_to 'Show', drop_box_account %></td>
    <td><%= link_to 'Edit', edit_drop_box_account_path(drop_box_account) %></td>
    <td><%= link_to 'Destroy', drop_box_account, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Drop box account', new_drop_box_account_path %>
