<table>
  <tr>
    <th>Settings</th>
    <th></th>
    <th></th>
  </tr>

  <tr>
    <td><%= link_to t('settings.google_drive_sync_label'), google_drive_sync_path %></td>
    <td></td>
    <td></td>
  </tr>

  <tr>
    <td><%= link_to t('settings.dropbox_sync_label'), new_drop_box_accounts_path %></td>
    <td></td>
    <td></td>
  </tr>

</table>

<br />


