<table>
  <tr>
    <th>Settings</th>
    <th></th>
    <th></th>
  </tr>

  <tr>
    <td><%= link_to 'Sync Google Drive', google_drive_sync_path %></td>
    <td></td>
    <td></td>
  </tr>

</table>

<br />

<%= link_to 'New Setting', new_setting_path %>
