<% if @resource.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-error">
      <%= t('shared.errors', count: pluralize(@resource.errors.count, t('shared.error_noun'))) %>
    </div>
    <ul>
    <% @resource.errors.full_messages.each do |msg| %>
      <li>* <%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>


