<div id="bootstrapped-fine-uploader"></div>

<%= javascript_include_tag 'fineuploader-3.2' %>

<script>
  function createUploader() {
    var uploader = new qq.FineUploader({
      element: document.getElementById('bootstrapped-fine-uploader'),
      request: {
        endpoint: 'server/handleUploads'
      },
      text: {
        uploadButton: '<i class="icon-upload icon-white"></i> Test me now and upload a file'
      },
      template: '<div class="qq-uploader span12">' +
                  '<pre class="qq-upload-drop-area span12"><span>{dragZoneText}</span></pre>' +
                  '<div class="qq-upload-button btn btn-success" style="width: auto;">{uploadButtonText}</div>' +
                  '<span class="qq-drop-processing"><span>{dropProcessingText}</span><span class="qq-drop-processing-spinner"></span></span>' +
                  '<ul class="qq-upload-list" style="margin-top: 10px; text-align: center;"></ul>' +
                '</div>',
      classes: {
        success: 'alert alert-success',
        fail: 'alert alert-error'
      },
      debug: true
    });
  }
    
  window.onload = createUploader;
</script>