<table class="table table-condensed table-hover" id="resources_table" >
  <tr>
    <th>Title</th>
    <th>Created</th>
    <th>Deletion</th>
    <th>Type</th>
  </tr>

<% @resources.each do |resource| %>
  <tr href="#viewResourceLinkModal" data-toggle="modal" style="cursor:pointer;">
    <td><%= link_to resource.title, resource_url(resource), :target => "_blank" %></td>
    <td><%= resource.created_at %></td>
    <td><%= link_to t('resources.delete_label'), resource_path(resource) , :confirm => t('resources.delete_file_confirmation', :title=>resource.title), :method => :delete %></td>
    <td><%= resource.type %></td>
  </tr>
<% end %>
</table>

