jQuery(function($) {

    
    // Expands dragover area
    $(document).bind('dragover', function (e) {
        var dropZone = $('#dropzone'),
            timeout = window.dropZoneTimeout,
            uploadButton = $('#fileupload-button');
        if (!timeout) {
            dropZone.addClass('in');            
            uploadButton.hide();
        } else {
            clearTimeout(timeout);
        }
        if (e.target === dropZone[0]) {
            dropZone.addClass('hover');
        } else {
            dropZone.removeClass('hover');
        }
        window.dropZoneTimeout = setTimeout(function () {
            window.dropZoneTimeout = null;
            dropZone.removeClass('in hover');
            uploadButton.show();
        }, 100);
    });

    $(document).bind('drop dragover', function (e) {
        e.preventDefault();
    });


     // Initialize the jQuery File Upload widget:
    $('#create_resource_form').fileupload({
        url : '/resources/ajax/create/file',
        autoUpload: false,
        dataType: 'json',
        maxNumberOfFiles: 1,
        maxFileSize: 52428800,
        dropZone: $('#dropzone'),
        add : function (e, data){
            filename = data.originalFiles[0].name;
            $('#resourceContainer').empty();
            $('#resourceContainer').append('<tbody><tr><td>'+filename+'</td></tr></tbody>');
            console.log("Sending "+filename);

            $('#submit-resource-form').on('click', function () {
                console.log("Sending data + files");
                data.submit();
            });

        }
    });


    
    $("#create_resource_link_form")
    .bind("ajax:error", function(event, data, status, xhr) {
        console.log('Found error');
        // Not sure why I have to use the responseText here
        $("#uploadResourcesErrors").html(data.responseText);      
    })
    .bind("ajax:success", function(event, data, status, xhr) {
        console.log('Successs');
        console.log(data);
        // Update the resources table
        $("#resources_table").html(data);  
        // Hide the upload form    
        $('#uploadResourceLinkModal').modal('hide');
        // Flash user of the success
        pushFlash("<%= I18n.t('resources.upload_success') %>", 'success');
        // Rest form
        this.reset();
        // Clear any error notification
        $("#uploadResourcesErrors").html('');      
    });

   

    // $("#create_resource_form")
    // // .bind("ajax:beforeSend", function (event, data, stats, xhr){
    // //     console.log("Before sending data");
    // //     console.log(data);
    // //     // data.submit();
    // // })
    // .bind("ajax:success", function(event, data, status, xhr) {
    //     // Update the resources table
    //     $("#resources_table").html(data);  
    //     // Hide the upload form    
    //     $('#uploadResourceModal').modal('hide');
    //     // Flash user of the success
    //     pushFlash({message:"<%= I18n.t('resources.upload_success') %>", state:'success'});
    // })
    // .bind("ajax:error", function(event, data, status, xhr) {
    //     // Not sure why I have to use the responseText here
    //     $("#uploadResourcesErrors").html(data.responseText); 
    //     console.log("Error in form fields submission");
        
    // });

   

    // .bind('fileuploadadd', function (e, data) {
    //     filename = data.originalFiles[0].name;
    //     $('#resourceContainer').empty();
    //     $('#resourceContainer').append('<tbody><tr><td>'+filename+'</td></tr></tbody>');
    //     // data.submit();
    //     // data.formData = $('create_resource_form').serializeArray();
    //     // data.submit();
    // });
   
    // $('#create_resource_form').bind('fileuploadsubmit', function (e, data) {
    //     return false;
    //     filename = data.originalFiles[0].name;
    //     $('#resourceContainer').empty();
    //     $('#resourceContainer').append('<tbody><tr><td>'+filename+'</td></tr></tbody>');
    //     data.formData = $('create_resource_form').serializeArray();
    //     data.submit();
    //     // The example input, doesn't have to be part of the upload form:
    //     var input = $('#input');
    //     data.formData = {example: input.val()};
    //     if (!data.formData.example) {
    //       input.focus();
    //       return false;
    //     }
    // });
    
});


// function createResourceUploader() {

//     var uploader = new qq.FineUploader({
//       element: document.getElementById('bootstrapped-fine-uploader'),
//       request: {
//         endpoint: 'resources'
//       },
//       text: {
//         uploadButton: '<i class="icon-upload icon-white"></i> Drag file or click here to add a resource'
//       },
//       template: '<div class="qq-uploader" >' +
//                   '<pre class="qq-upload-drop-area" style="width: 510px;"><span>{dragZoneText}</span></pre>' +
//                   '<div class="qq-upload-button btn btn-success" style="width: auto;">{uploadButtonText}</div>' +
//                   '<span class="qq-drop-processing" ><span style="width: auto;">{dropProcessingText}</span><span class="qq-drop-processing-spinner"></span></span>' +
//                   '<ul class="qq-upload-list" style="margin-top: 10px; text-align: center;"></ul>' +
//                 '</div>',
//       classes: {
//         success: 'alert alert-success',
//         fail: 'alert alert-error'
//       },
//       multiple: false,
//       maxConnections: 1,
//       //sizeLimit: 104857600, //100 MB
//       sizeLimit: 5242880052428800, //50 MB
//       autoUpload: false,
//       debug: true
//     });
//     return true;
// }

