<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html"; charset="UTF-8" http-equiv="Content=Type" />
  </head>
  <body>
    <p><%= raw t('reset_password.content', action: link_to(t('reset_password.action'), controller: 'settings', action: 'reset_password', params: { account: @user.account_name, key: @user.reset_password_key }, only_path: false, host: @host) )%></p>
  </body>
</html>
