$navbarCollapseWidth: 767px;
@import "bootstrap";
@import "bootstrap-responsive";

/* mixins, variables, etc. */

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

/* component-specific */

#header {
  margin-bottom: 20px;
}

/* This makes bootstrap wells flat white */
#feedback-background {
  background-color: white;
  border: 0;
  box-shadow: none;
  margin-bottom: 0;
  padding: 10px 19px 1px;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayLighter;
  color: $grayLight;
  a {
    color: $gray;
    &:hover {
      color: $grayDarker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* forms */

input, textarea, select, .uneditable-input {
  width: 100%;
  @include box_sizing;
}

input {
  height: auto !important;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box-sizing;
}


.create_new_box {
  color: #c3c3c3;
  border-color: #c3c3c3;
  border-width:3px;
  border-style:dotted; 
  text-align:center;
  p {
    margin-top: 5px;
  }
}




