$navbarCollapseWidth: 767px;
@import "bootstrap";
@import "bootstrap-responsive";

/* mixins, variables, etc. */

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

/* component-specific */

#header {
  margin-bottom: 20px;
}

/* This makes bootstrap wells flat white */
#feedback-background {
  background-color: white;
  border: 0;
  box-shadow: none;
  margin-bottom: 0;
  padding: 10px 19px 1px;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayLighter;
  color: $grayLight;
  a {
    color: $gray;
    &:hover {
      color: $grayDarker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* forms */

input, textarea, select, .uneditable-input {
  width: 100%;
  @include box_sizing;
}

input {
  height: auto !important;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box-sizing;
}


.create_new_box {
  color: #c3c3c3;
  border-color: #c3c3c3;
  border-width:2px;
  border-style:dotted; 
  h4 {
    padding-left: 10px;
  }
}


/* Map Standard Filter */
.standard-default:hover {
  background-color: #F5F5F5;
}
.standard-selected {
  /*background-color: #FFFF66;*/
  background-color: #DBDBFF;
}


/* Map Resource Filter */
.resource-modal .modal-body {
  max-height: 500px;
}

.resource-modal {
  min-width: 720px; 
  margin: -250px 0px 0px -360px; /* PLAY THE WITH THE VALUES TO SEE GET THE DESIRED EFFECT */
}


/* Map Standard Filter */
.map-assessment-resource-default:hover {
  background-color: #F5F5F5;
}
.map-assessment-resource-selected {
  /*background-color: #FFFF66;*/
  background-color: #DBDBFF;
}

/* Control visibility */
.editable span a {
   visibility: hidden;
}  

.editable:hover span a {
   visibility: visible;
} 