$navbarCollapseWidth: 767px;
@import "bootstrap";
@import "bootstrap-responsive";

/* mixins, variables, etc. */

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

/* component-specific */

#header {
  margin-bottom: 20px;
}

/* This makes bootstrap wells flat white */
#feedback-background {
  background-color: white;
  border: 0;
  box-shadow: none;
  margin-bottom: 0;
  padding: 10px 19px 1px;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayLighter;
  color: $grayLight;
  a {
    color: $gray;
    &:hover {
      color: $grayDarker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* forms */

input, textarea, select, .uneditable-input {
  width: 100%;
  @include box_sizing;
}

input {
  height: auto !important;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box-sizing;
}


.create-new-box {
  color: #c3c3c3;
  border-color: #c3c3c3;
  border-width:2px;
  border-style:dotted; 
  h4 {
    padding-left: 10px;
  }
}


/* Makes Embedded videos responsive */


.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}



.theme {
  color: #5A5A5A;
}

.theme h1 {
  font-size:50px;
  font-weight:200;
  letter-spacing:-1px;
  line-height:1;
  margin:10px 0 10px;
	/*color: #E36334;*/
  background: url("line.gif") repeat-x scroll center center transparent;
}

.theme h1 span {
  background: none repeat scroll 0 0 #FFFFFF;
  padding: 0 20px;
}

.theme h2 {
  font-weight:200;
  margin-bottom:5px;
}

.theme h3 {
  /*color: #E36334;*/
}

.theme h3.blog-h3 {
  border-bottom: 2px dotted #E36334;
  color: #E36334;
}

.theme .theme-byline {
  color:#999999;
  font-size:20px;
  font-weight:300;
  line-height:1.25;
  margin-bottom:40px;
}

.theme p {
  font-size:16px;
  line-height:1.5;
}

.theme img {
	margin: 5px auto;
}