$navbarCollapseWidth: 767px;
@import "bootstrap";
@import "bootstrap-responsive";

/* mixins, variables, etc. */

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

/* component-specific */

#header {
  margin-bottom: 20px;
}

/* This makes bootstrap wells flat white */
#feedback-background {
  background-color: white;
  border: 0;
  box-shadow: none;
  margin-bottom: 0;
  padding: 10px 19px 1px;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayLighter;
  color: $grayLight;
  a {
    color: $gray;
    &:hover {
      color: $grayDarker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* forms */

input, textarea, select, .uneditable-input {
  width: 100%;
  @include box_sizing;
}

input {
  height: auto !important;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box-sizing;
}


.create-new-box {
  color: #c3c3c3;
  border-color: #c3c3c3;
  border-width:2px;
  border-style:dotted; 
  h4 {
    padding-left: 10px;
  }
}


.clickable {
  cursor:pointer;
}
.hover:hover {
  background-color: #F5F5F5;
}

/* Map Standard Filter */

.standard-selected {
  /*background-color: #FFFF66;*/
  background-color: #DBDBFF;
}


/* Map Resource Filter */
.resource-modal .modal-body {
  max-height: 500px;
}

.resource-modal {
  min-width: 720px; 
  margin: -50px 0px 0px -360px;
}


.standard-modal .modal-body {
  max-height: 500px;
}
.standard-modal {
  /*min-width: 600px; 
  margin: -50px 0px 0px -300px;*/
  min-width: 720px; 
  margin: -50px 0px 0px -360px;
}

/* Map Standard Filter */

.map_assessment_resource_selected {
  background-color: #DBDBFF;
}

.map_objectives_resource_selected {
  background-color: #DBDBFF; 
}





.editable-btn span .btn {
   visibility: hidden;
}  

.editable-btn:hover span .btn{
   visibility: visible;
} 

.editable span a i {
   visibility: hidden;
}  

.editable:hover span a i {
   visibility: visible;
} 


.editable div a i {
   visibility: hidden;
}  

.editable:hover div a i {
   visibility: visible;
} 

.editable div.handle {
   visibility: hidden;
}  

.editable:hover div.handle {
   visibility: visible;
} 





/* Push Flash Alert */

.alert-float {
  margin-top: 15px;
  position:fixed;
  top:0;
  width:80%;
  z-index:100;
}

.gray {
  color: #947F87;
}