/* Maps */

.standard-modal .modal-body {
  max-height: 500px;
}


.standard-modal {
  min-width: 720px; 
  margin: -50px 0px 0px -360px;
}


.map_assessment_resource_selected {
  background-color: #DBDBFF;
}